<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-widdth" />
    <title>SportStore</title>
   <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    </head>
<body>
    
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">SPORTS STORE</a>
    </nav>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            @await Component.InvokeAsync("NavigationMenu")
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>